body{
    margin-bottom: 50px;
}
.border {
    border: 0px solid #dee2e6 !important;
}
.navbar-brand img{
    width:25%;
}
.navbar-nav{
    margin-left:auto;
}
.carousel-inner{
    background-image: url("bg-1.png") ;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: center center;
}
.carousel-inne{
    background-image: url("bg-2.png") ;
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: left bottom;
}
.left-content p{
    color:#A7A7A7;
}
.left-content h2{
    font-weight:bold;
}
.btn{
    color:#fff;
    background-color: #000000;
    font-weight:bold;
    border-radius: 10px;
}







.card-img, .card-img-bottom, .card-img-top {
    width: 75%;
}
.card{
    border:0px;
    box-shadow: 0px 0px 10px #A7A7A7;
    border-radius: 10px;
}
.card-body h2{
    font-weight: bold;
}
.card-body p{
    color:#A7A7A7;
}
.card-body .prize{
    font-weight: bold;
    font-size:2em;
    color:#212529;
}






.cat-header{
    margin-top:100px;
}
.border{
    width: 100px;
    height: 5px;
    background-image: linear-gradient(to right, #FFC51F , #FF9C35);
    margin: auto;
    border-radius: 20px;
    
}
.cat-left p{
    font-weight: bold;
}
.cat-left img{
    width:65%;
}
.cat-right img{
    width:100%;
}
.half .img-left{
    box-shadow: 0px 0px 25px #ECDADA;
    border-radius: 0px 20px 0px 20px;
}
.top, .bottom{

    box-shadow: 0px 0px 25px #ECDADA;
    border-radius:20px 0px 20px 0px;
}